.item {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;

  margin: 10px auto;
  padding: 0;

  border: 1px solid black;
  background-color: white;
  width: 170px;
}

.status {
  margin-left: 15px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.online {
  composes: status;
  background-color: red;
}

.offline {
  composes: status;
  background-color: green;
}

.stylesAvatar {
  margin-left: 10px;
}

.stylesName {
  margin-left: 15px;
}
