.container {
  width: 350px;
  margin: 0 auto;
  background-color: rgb(150, 156, 156);
  border: 1px solid black;
}

.list {
  display: flex;
  padding: 0;
  margin: 0;
  /* justify-content: space-around; */
}

.title {
  border-bottom: 1px solid black;
  background-color: rgb(226, 226, 226);
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
